<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @translation.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @translation.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @translation.publisher %>
</p>

<p>
  <strong>Date:</strong>
  <%= @translation.date %>
</p>

<p>
  <strong>Link:</strong>
  <%= @translation.link %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_translation_path(@translation) %>
<% end %>  
<%= link_to 'Return to all translations', translations_path %>
