<div class="container <%= controller_name%>">
  <div class="login__welcome">
    <h2>Welcome Nicolee</h2>
    <p>Login and start creating!</p>
    <p>From your personal dashboard you can add new blog entries, additional translations, and edit your about and contact info. Play around and see what your site can do for you.</p>
  </div><!--
  *--><div class="login__form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>

