<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
  
    <div <% if post.image.exists? %> style="background: url(<%= post.image.url(:large) %>)" <% end %>>  
      <h2><%= post.title %></h2>
      <p><%= post.excerpt %></p>
      <%= link_to 'Read More', post %>
    </div>
 

  <% if user_signed_in? %> 
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %>

    <%= link_to 'New Post', new_post_path %>
  <% end %>
<% end %>


  



