<p class="date"><%= @post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d")%></p>
<h1><%= @post.title %></h1>
<p class="author"><%= @post.author %></p>
<%= @post.content %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
