<%= form_for(@about_nicolee) do |f| %>
  <% if @about_nicolee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@about_nicolee.errors.count, "error") %> prohibited this about_nicolee from being saved:</h2>

      <ul>
      <% @about_nicolee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
