<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @about_nicolee.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @about_nicolee.photo %>
</p>

<%= link_to 'Edit', edit_about_nicolee_path(@about_nicolee) %> |
<%= link_to 'Back', about_nicolees_path %>
